
@(note: Note, noteForm: Form[Note], commentForm: Form[Comment], searchForm: Form[String])

@implicitFieldConstructor = @{ FieldConstructor(plainFieldConstructor.render) }

@import helper._
@import helpers.MarkdownHelper

@main(note.title, noteForm) {
 
    <div class="container main">
        <div class="tags">
            @for(tag <- note.tags) { <a href="#" class="tag">@tag.title @tag.notes.size</a> }
        </div>
        <header class="note-header">
            <div class="module">
                Posted @note.getCreatedAt by 
                <a href="@routes.Users.show(note.author.id)">@note.author.displayName</a>
            </div>
            <div class="module right">
                <a href="@routes.Notes.toggleUpVote(note.id)"><i class="thumbs up icon"></i></a>
                @note.getScore 
                <a href="@routes.Notes.toggleDownVote(note.id)"><i class="thumbs down icon"></i></a>
            </div>
        </header>            
        <section class="note-wrapper">
            @for(image <- note.images) {
            <IMG SRC=@image.getUrl ALT="some text" WIDTH=500 HEIGHT=500> 
            }
            <p>@Html(MarkdownHelper.toHtml(note.content))</p>

            <div><small>Last updated @note.getUpdatedAt</small></div>

            @if(note.author.equals(User.currentUser)) {
                <div class="note-links">
                    <a href="@routes.Notes.edit(note.id)" class="flat-button icon"><i class="edit icon"></i>Edit</a>
                    @form(routes.Notes.delete(note.id)) {
                        <button class="flat-button icon delete"><i class="remove icon"></i>Delete</a></button>
                    }
                </div>
            }
        </section>
        <aside class="similar-notes">
        <h2>Similar notes:</h2>
            <ul>
                @for(note <- Note.similarNotes(note)) {
                    <li class="note">
                        <a href="@routes.Notes.show(note.id)"><h3>@note.title</h3></a>
                        <p>@note.extract(25)</p>
                    </li>
                }
            </ul>
        </aside>
    </div>

    <section class="comments">
        <div class="container">
            <header>
                <h2>Discussion</h2>
            </header>
            @for(comment <- note.comments) {
                <div class="comment">
                <div class="avatar"><img src="@comment.author.getAvatarUrl" /></div>
                <div class="content">
                    <h2><a href="@routes.Users.show(comment.author.id)">@comment.author.displayName</a></h2>
                    <span class="date">@comment.getCreatedAt</span>
                    <p>@comment</p>
                    @form(routes.Notes.deleteComment(note.id, comment.id)) {
                        <input class="flat-button delete-comment-button" type="submit" value="Delete">
                    }
                </div>
            </div>
            }
            <div class="comment">
                <div class="avatar"><img src="http://bdb3b8.medialib.glogster.com/thumbnails/2e671a43746cd980b0c5a7c51c1ebc21d3162464f97572b8b9b4d5787ceceed8/10-hour-pikachu-song-source.jpg" /></div>
                <div class="content">
                    <h2>Username</h2><span class="date">Thu Oct 17 2013</span>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua.
                    </p>
                </div>
            </div>

            @if(User.currentUser != null) {
                @form(routes.Notes.newComment(note.id)) {
                    @textarea(commentForm("content"), '_label -> "Leave a comment:")
                    <input class="flat-button" type="submit" value="Post comment">
                }
            }
        </div>
    </section>
}