@(note: Note, noteForm: Form[Note], commentForm: Form[Comment])

@implicitFieldConstructor = @{ FieldConstructor(plainFieldConstructor.render) }

@import helper._
@import securesocial.core.java.SecureSocial

@main("Note list") {
    <header class="main-header">
        <div class="container">
            <h1>notient</h1>
            <nav class="main-bar">
                <ul>
                    <li><a href="@securesocial.controllers.routes.LoginPage.login"><i class="sign in icon"></i>Login</a></li>
                    <li><a href="@securesocial.controllers.routes.LoginPage.logout"><i class="sign out icon"></i>Logout</a></li>
                    <li><a href="@securesocial.controllers.routes.Registration.startSignUp"><i class="user icon"></i>Register</a></li>
                    <li><a href="#" id="sub-nav-toggle" class="menu-link"><i class="add icon"></i></a></li>
                </ul>
            </nav>
        </div>
    </header>
    <div class="dark-wrapper">
    <section id="quick-create-form" class="quick-create-form">
        <div class="container">
            @views.html.quickCreateForm(noteForm)
        </div>
    </section>
    <header id="sub-nav" class="sub-nav">
        <div class="container">
            <nav>
                <ul>
                    <li><a href="#"><i class="list layout icon"></i>List</a></li>
                    <li><a href="#"><i class="grid layout icon"></i>Thumbnails</a></li>
                </ul>
            </nav>
        </div>
    </header>
    </div>

    <div class="container main">
        <div class="tags">
            @for(tag <- note.tags) { <a href="#" class="tag">@tag.title @tag.notes.size</a> }
        </div>
        <section class="note-wrapper">
            <h1>@note.title</h1>
            <p>@note.content</p>
        </section>
        <aside class="sidebar">
            <ul>
                @for(note <- Note.similarNotes(note)) {
                    <li class="note">
                        <a href="@routes.Notes.show(note.id)"><h3>@note.title</h3></a>
                        <p>@note.extract(55)</p>
                    </li>
                }
            </ul>
        </aside>
    </div>

    <section class="comments">
        <header>
            <h2>Discussion</h2>
        </header>
        <div class="container">
        @for(comment <- note.comments) {
            <div class="comment">
            <div class="avatar"></div>
            <div class="content">
                <h2>@comment.author</h2><span class="date">@comment.createdAt</span>
                <p>@comment</p>
                @form(routes.Notes.deleteComment(note.id, comment.id)) {
                    <input class="flat-button delete-comment-button" type="submit" value="Delete">
                }
            </div>
        </div>
        }
        <div class="comment">
            <div class="avatar"></div>
            <div class="content">
                <h2>Username</h2><span class="date">Thu Oct 17 2013</span>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua.
                </p>
            </div>
        </div>

        @if(SecureSocial.currentUser != null) {
            @form(routes.Notes.newComment(note.id)) {
                
                @textarea(commentForm("content"), '_label -> "Comment")
                <input class="flat-button" type="submit" value="Post comment">
            }
        }
        </div>
    </section>
}