
@(note: Note, noteForm: Form[Note], commentForm: Form[Comment], searchForm: Form[String])

@implicitFieldConstructor = @{ FieldConstructor(plainFieldConstructor.render) }

@import helper._
@import helpers.MarkdownHelper

@main(note.title, noteForm) {
 
    <div class="container main">
        <div class="tags">
            @for(tag <- note.tags) { <a href="#" class="tag">@tag.title</a> }
        </div>
        <header class="note-header">
            <div class="module">
                <em>@note.title</em> by 
                <a href="@routes.Users.show(note.author.email)">@note.author.displayName</a> <i class="time icon"></i>Posted @note.getCreatedAt 
            </div>
            <div class="module right">                <a href="@routes.Notes.toggleUpVote(note.id)"><i class="thumbs up icon"></i></a>
                @note.getScore 
                <a href="@routes.Notes.toggleDownVote(note.id)"><i class="thumbs down icon"></i></a>
            </div>
        </header>            
        <section class="note-wrapper">
            <p>@Html(MarkdownHelper.toHtml(note.content))</p>

            @for(image <- note.images) {
                <img src="@image.getUrl"> 
            }
            
            @if(note.updatedAt!=null) {
                <div><small><i class="time icon"></i>Last updated @note.getUpdatedAt</small></div>
            }

            @if(note.author.equals(User.currentUser)) {
                <div class="note-links">
                    <a href="@routes.Notes.edit(note.id)" class="flat-button icon"><i class="edit icon"></i>Edit</a>
                    @form(routes.Notes.delete(note.id)) {
                        <button class="flat-button icon delete"><i class="remove icon"></i>Delete</a></button>
                    }
                </div>
            }
        </section>
        <aside class="similar-notes">
        <h2>Similar notes:</h2>
            <ul>
                @for(note <- Note.similarNotes(note)) {
                    <li class="note">
                        <a href="@routes.Notes.show(note.id)"><h3>@note.title</h3></a>
                        <p>@note.extract(25)</p>
                    </li>
                }
            </ul>
        </aside>
    </div>

    <section class="comments">
        <div class="container">
            <header>
                <h2>Discussion<i class="chat outline icon"></i></h2>
            </header>
            @for(comment <- note.comments) {
                <div class="comment">
                <div class="avatar"><img src="@comment.author.getAvatarUrl" /></div>
                <div class="content">
                    <h2><a href="@routes.Users.show(comment.author.email)">@comment.author.displayName</a></h2>
                    <span class="date">@comment.getCreatedAt</span>
                    <p>@comment</p>
                    @form(routes.Notes.deleteComment(note.id, comment.id)) {
                        <input class="flat-button delete-comment-button" type="submit" value="Delete">
                    }
                </div>
            </div>
            }
            @if(User.currentUser != null) {
                @form(routes.Notes.newComment(note.id)) {
                    @textarea(commentForm("content"), '_label -> "Leave a comment:")
                    <input class="flat-button" type="submit" value="Post comment">
                }
            }
        </div>
    </section>
}