@import "reset";
@import "config";
@import "mixins";

@import url(http://fonts.googleapis.com/css?family=Raleway:400,900,800,700,600,500,300,200,100);

@import "base";

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -@footer-height;
  padding-bottom: @footer-height;
}

.main { padding: 0 1rem; }

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 50rem;

  .clearfix;
}

@import "header";
@import "menu";
@import "search";
@import "notes";
@import "comments";
@import "components";

/* Semantic UI */
@import "elements/basic.icon";
@import "elements/icon";

footer {
  background: darken(@dark, 5%);
  border-top: 5px dotted lighten(@dark, 5%);
  height: @footer-height;
  .container {
    color: lighten(@dark, 30%);
    text-align: center;
    padding-top: 1rem;
    span {
      color: @red;
    }
  }
}

#message-wrapper {
  background: @dark;
  
  .message {
    padding: 0.8rem;
    a {
      background: none;
      border: 0;
    }
    
    &.info { 
      color: @green;
      a { 
        color: @green;
        &:hover { color: lighten(@green, 10%); }
      }
    }
    &.error {
      color: @red;
      a { 
        color: @red;
        &:hover { color: lighten(@red, 10%); }
      }
    }
    
    .dismiss-message-button {
      float: right;
    }
  }
}

// .center-form {
//   margin: 0 auto;
//   padding: 1.2rem 1rem 1rem;
//   width: 100%;
//   max-width: 20rem;
//   background: white;
//   border-bottom: 2px solid darken(@light-yellow, 10%);

//   input, dd {
//     width: 100%;
//   }
//   input[type=submit] { margin: 0; }

//   .form-after {
//     margin: 1rem 0 0;
//   }
// }

// h1.center-form-header {
//   margin: 4rem auto -0.6rem;
//   width: 100%;
//   max-width: 20rem;
//   padding: 0 1rem;
//   border: 0;

//   font: 2.6rem 'Raleway';
//   font-weight: 600;
// }

/* Larger devices */
@media (min-width: 50em) {
  .main {
    padding: 0;
  }
}