@(notes: List[Note], noteForm: Form[Note])

@import helper._

@main("Note list") {
    <header class="main-header">
        <div class="container">
            <h1>notient</h1>
            <nav>
                <ul>
                    <li><a href="@routes.Application.login()">Login</a></li>
                    <li><a href="@routes.Application.logout()">Logout</a></li>
                    <li><a href="@routes.Application.register()">Register</a></li>
                </ul>
            </nav>
        </div>
        <div class="clearfix">
    </header>

    <div class="container main">
        <section class="notes-wrapper">
            @for(note <- notes) {
                <div class="small-note">
                    <header>
                        <a href='@routes.Notes.show(note.id)'><h2>@note.title</h2></a>
                        <a href='@routes.Notes.delete(note.id)' class="delete-button"><i class="remove icon"></i></a>
                    </header>
                    <section class="note-content">
                        <p>@note.text</p>
                        @for(tag <- note.tags) { <span class="ui red label">@tag.title</span> }
                    </section>
                </div>
            }
        </section>
    </div>
    <footer>
        <div class="container">
        @form(routes.Notes.newNote) {

            @inputText(noteForm("title"))
            @inputText(noteForm("text"))
            <dl>
                <dt><label>tags</label></dt>
                <dd><input type="text" name="tagList" /></dd>
            </dl>

            <input class="ui blue submit button" type="submit" value="Create Note">
        }
        </div>
    </footer>
}