@(notes: List[Note], noteForm: Form[Note])

@import helper._

@main("Note list") {
    <header class="main-header">
        <div class="container">
            <h1>Pink is the best color.</h1>
            <nav>
                <ul>
                    <li><a href="@routes.Application.login()">Login</a></li>
                    <li><a href="@routes.Application.logout()">Logout</a></li>
                </ul>
            </nav>
        </div>

    </header>

    <div class="container main">
        <section class="notes-wrapper">
            @for(note <- notes) {
                <div class="note">
                    <h2>@note.title</h2>
                    <p>@note.text</p>
                    @for(tag <- note.tags) { @tag.title }
                    <a href='@routes.Application.deleteNote(note.id)' class="delete-button">Delete Note</a>
                </div>
            }
        </section>
    </div>
    <footer>
        <div class="container">
        @form(routes.Application.newNote) {

            @inputText(noteForm("title"))
            @inputText(noteForm("text"))
            <dl>
                <dt><label>tags</label></dt>
                <dd><input type="text" name="tagList" /></dd>
            </dl>

            <input type="submit" value="Create Note">
        }
        </div>
    </footer>
}