@(notes: List[Note], noteForm: Form[Note])

@import helper._

@main("Note list") {
    <div class="container">
        <h1>Pink notes!</h1>

        <section class="notes-wrapper">
            @for(note <- notes) {
                <div class="note">@note.text <a href='@routes.Application.deleteNote(note.id)' class="delete-button">Delete Note</a></div>
            }
        </section>
        @form(routes.Application.newNote()) {

            @inputText(noteForm("text"))

            <input type="submit" value="Create note">

        }
    </div>
}