@(loginForm: Form[Application.Login])

@import helper._

@main("Login") {

	<h1 class="center-form-header">Sign in</h1>
	<section class="center-form">
	<header>
		@if(loginForm.hasGlobalErrors) {
			<p class="error">loginForm.globalError.message</p>
		}
		@if(flash.contains("success")) {
	 		<p class="success">
	      @flash.get("success")
	 		</p>
		}
	</header>

		@helper.form(routes.Application.authenticate) {
			@inputText(
	        loginForm("email"),
	        '_label -> "Email",
	        'placeholder -> "user@example.com"
	    )
			@inputPassword(
	        loginForm("password"),
	        '_label -> "Password",
	        'placeholder -> "password"
	    )
			<input class="ui blue submit button no-border-radius" type="submit" value="Login">
		}
		<p> Not a user? <a href="@routes.Application.register()">sign up here!</a></p>
	</section>
}