@(loginForm: Form[Application.Register])

@import helper._

@main("Register") {

	<h1 class="center-form-header">Register</h1>
	<section class="center-form">
	<header>
		@if(loginForm.hasGlobalErrors) {
			<p class="error">loginForm.globalError.message</p>
		}
		@if(flash.contains("success")) {
	 		<p class="success">
	      @flash.get("success")
	 		</p>
		}
	</header>

		@helper.form(routes.Application.newUser) {
			@inputText(
	        loginForm("email"),
	        '_label -> "Email",
	        'placeholder -> "user@example.com"
	    )
  		@inputText(
          loginForm("username"),
          '_label -> "Username",
          'placeholder -> "Pony"
      )
			@inputPassword(
	        loginForm("password"),
	        '_label -> "Password",
	        'placeholder -> "password"
	    )
			<input type="submit" value="Register">
		}
	</section>
}