@(registerForm: Form[Application.Register])

@import helper._

@main("Register") {

	<h1 class="center-form-header">Sign in</h1>
	<section class="center-form">
	<header>
		@if(registerForm.hasGlobalErrors) {
		<p class="error">@registerForm.globalError.message</p>
		}
	</header>
		@helper.form(routes.Application.newUser) {
			@inputText(
	        registerForm("email"),
	        '_label -> "Email",
	        'placeholder -> "user@example.com"
	    )
	    	@inputText(
	        registerForm("username"),
	        '_label -> "Username",
	        'placeholder -> "username"
	    )
	        
			@inputPassword(
	        registerForm("password"),
	        '_label -> "Password",
	        'placeholder -> "password"
	    )
			<input type="submit" value="Register">
		}
	</section>
}