@(note: Note)

@import helper._

@main("Note list") {
    <header class="main-header">
        <div class="container">
            <h1>Pink is the best color.</h1>
            <nav>
                <ul>
                    <li><a href="@routes.Application.login()">Login</a></li>
                    <li><a href="@routes.Application.logout()">Logout</a></li>
                    <li><a href="@routes.Application.register()">Register</a></li>
                </ul>
            </nav>
        </div>

    </header>

    <div class="container main">
        <section class="note-wrapper">
            <h1>@note.title</h1>
            <p>@note.text</p>
        </section>
    </div>
}