@(note: Note, commentForm: Form[Comment])

@import helper._

@main("Note list") {
    <header class="main-header">
        <div class="container">
            <h1>notient</h1>
            <nav class="main-bar">
                <ul>
                    <li><a href="@securesocial.controllers.routes.LoginPage.login"><i class="sign in icon"></i>Login</a></li>
                    <li><a href="@securesocial.controllers.routes.LoginPage.logout"><i class="sign out icon"></i>Logout</a></li>
                    <li><a href="@securesocial.controllers.routes.Registration.startSignUp"><i class="user icon"></i>Register</a></li>
                    <li><a href="#" id="sub-nav-toggle" class="menu-link"><i class="add icon"></i></a></li>
                </ul>
            </nav>
        </div>
    </header>

    <div class="container main">
        <section class="note-wrapper">
            <h1>@note.title</h1>
            <p>@note.content</p>
        </section>
    </div>

    <section>
    </section>

    <footer>
        <div class="container">
        @form(routes.Notes.newComment(note.id)) {
            
            @inputText(commentForm("content"))
            <input type="submit" value="Post comment">
        }
            @for(comment <- note.comments) {
            <p>
                @comment.author
                @comment 
                @comment.createdAt
                @form(routes.Notes.deleteComment(note.id, comment.id)) {
                    <input type="submit" value="Delete">
                }
            </p>
            }

        </div>
    </footer>
}